
.connectButton {

background-color: blue;
color : white;
height: 60px;
width: 120px;
font-size: 20px;
border-radius: 15px;
cursor: pointer;


}

.connectButton:hover{
    background-color: blueviolet;
    color:aqua;
}

.fund {
 background-color: yellowgreen;
 color:white;
 height: 60px;
width: 120px;
font-size: 20px;
border-radius: 15px;
cursor: pointer;

}

.fund:hover{
    background-color: blueviolet;
    color:aqua;
}
